body 
{
  text-rendering: optimizeLegibility;
  font-size: 14pt;
  font-family: DIN-light;
}
p {
  font-size: 13px;
  line-height: 16px;
}
b{
  font-family: DIN;
}
#main-table{
  width: 950px;
  border: 0;
  border-spacing: 0;
  padding: 3px;
}
#first-column{
  display: fixed;
  min-width: 200px;
  max-width: 200px;
  vertical-align: top;
  padding-top: 15px;
}
#left-table{
  border: 0;
  border-spacing: 0;
  padding: 3px;
}
#picture-profile {
  float: left;
  padding: 2px 2px 2px 2px;
  max-width: 175px;
  border: solid black 1px;
}
#address{
  padding-top: 20px;
  line-height: 20px;
}
#bio, #cv{
  padding-top: 15px;
}
#second-column{
  vertical-align: top;
  padding: 15px 15px 0 0;
  max-width: 700px;
}
.title-text{
  padding-top: 5px;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 15px;
}
#header-text{
  font-size: 22px;
}
.courses{
  font-size: 15px;
  line-height: 18px;
  padding-top: 10px;
}
.course{
  margin-bottom: 15px;
}
.year-courses{
  padding-top: 5px;
}
#right-column{
  padding-top: 15px;
  vertical-align: top;
  min-width: 350px;
}
.past-projects {
  padding-top: 15px;
}
a {
  text-decoration: none;
}
a:link {
	color: #0044BB;
}
a:visited {
	color: #BB2222;
}
a:hover {
	text-decoration: underline;
}
.editor{
  display: none;
}